body {
    font-family: Arial, sans-serif;
    background-image: url(/images/IMG_9075.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
select,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #459da0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.reset-button {
    color: #cd7054;
    font-weight: bold;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}

p {
    font-size: 16px;
    color: #555;
}

div {
    text-align: center;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead th {
    background-color: #5cbf96;
    color: white;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    background-color: #a86161;
    border: 1px solid #d9534f;
    padding: 10px;
    border-radius: 4px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
}


