<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/css/baik.css">
</head>
<body>
<div class="container">
    <h1>More about book</h1>
    <b>Title: </b><span th:text="${book.title}"></span><br>
    <b>Author: </b><span th:text="${book.author}"></span><br>
    <b>Publisher: </b><span th:text="${book.publisher}"></span><br>
    <b>Pages: </b><span th:text="${book.pages}"></span><br>
    <b>Genre: </b><span th:text="${book.genre}"></span><br>
    <b>Year: </b><span th:text="${book.year}"></span><br>
    <b>Description: </b><span th:text="${book.description}"></span>
    <hr>
    <h3>Remove book</h3>
    <form th:action="@{/book/delete/{id}(id=${book.id})}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Remove book"/>
    </form>
</div>
</body>
</html>
