<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
<h1>Product List</h1>

<div th:each="book : ${books}">
    <p>
        <b th:text="${book.title}"></b><b>,</b>
        <span th:text="${book.author}"></span> |
        <a th:href="@{/book/{id}(id=${book.id})}">More info…</a>
    </p>
</div>

<form action="/search" method="get">
    <input type="text" name="query" placeholder="Search">
    <select name="type">
        <option value="title">Title</option>
        <option value="author">Author</option>
    </select>
    <button type="submit">Search</button>
    <a href="/" class="reset-button">Reset</a>
</form>
<div th:each="book : ${books}">
    <p>
        <b th:text="${book.title}"></b><b>,</b>
        <span th:text="${book.author}"></span> |
        <a th:href="@{/book/{id}(id=${book.id})}">More info…</a>
        <a th:href="@{/book/clone/{id}(id=${book.id})}">Clone</a>
    </p>
</div>

<hr>
<h3>Create new book</h3>
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<form action="/book/create" method="post">
    Title of book: <input type="text" name="title"><br><br>
    Author: <input type="text" name="author"><br><br>
    Publisher: <input type="text" name="publisher"><br><br>
    Pages: <input type="number" name="pages"><br><br>
    Genre: <input type="text" name="genre"><br><br>
    Year: <input type="number" name="year"><br><br>
    Description: <input type="text" name="description"><br><br>
    <input type="submit" value="Add book"/>
</form>
</body>
</html>
