<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Book list</h1>

<form action="/search" method="get">
    <input type="text" name="query" placeholder="Search">
    <select name="type">
        <option value="title">Title</option>
        <option value="author">Author</option>
    </select>
    <button type="submit">Search</button>
    <a href="/" class="reset-button">Reset</a>
</form>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><b th:text="${book.title}"></b></td>
        <td th:text="${book.author}"></td>
        <td>
            <a th:href="@{/book/{id}(id=${book.id})}">More info</a>
        </td>
    </tr>
    </tbody>
</table>

<h2>Prototype</h2>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><b th:text="${book.title}"></b></td>
        <td><span th:text="${book.author}"></span></td>
        <td>
            <a th:href="@{/book/{id}(id=${book.id})}">More info</a>  |
            <a th:href="@{/book/clone/{id}(id=${book.id})}">Clone</a>
        </td>
    </tr>
    </tbody>
</table>


<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
<form action="/book/create" method="post">
    <h2>Create new book</h2>
    Title of book: <input type="text" name="title"><br><br>
    Author: <input type="text" name="author"><br><br>
    Publisher: <input type="text" name="publisher"><br><br>
    Pages: <input type="number" name="pages"><br><br>
    Genre: <input type="text" name="genre"><br><br>
    Year: <input type="number" name="year"><br><br>
    Description: <input type="text" name="description"><br><br>
    <input type="submit" value="Add book"/>
</form>
</body>
</html>
